

.container-card-name{
    height :400px;
    background-color: green;
    .card-name{
        background-color : white;
        height : 120px;
        width : 250px;
        z-index : 10;
        border-radius : 25px;
    }

}