

.container-card-name{
    display: flex;
    flex-direction: column;
    height : 400px;
    width:auto;
    flex-wrap: wrap;
    width: fit-content;
    padding : 5px;
    gap : 10px;

    .player-wrapper{
        display: flex;
        align-items: center;
        gap :10px;
    }


    .card-name{
        display: flex;
        align-items :center;
        justify-content: space-between;
        background-color : white;
        height : 80px;
        width : 210px;
        border-radius : 5px;
        border : 3px solid #1969ae;
        

        img{
            height : 80px;
        }


        p{
            margin-left : 10px;
        }

        
    }

}

.container-bonne-chance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width : 400px;
    .nom-couleur{
        color : blue;
    }
}
