$mainfont : 'cormorant';



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;


  img {
    border-radius : 50px;

    width :70%;
    height: 200px;
    object-fit: cover;
  }

  h1 {
    font-size: 40px;
    position : absolute;
    color : white;
  }
}

.header-separate{
  display: flex;
  align-items: center;
  height : 2px;
  width : 25%;
  background-color : #1969ae;
  margin: 0 auto;
}