$mainfont : 'cormorant';


body{
    background-color: #1ad5e6;
    
}

.login-page{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin : 25px 5% 25px 5%;

    .modal-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f9e3b2;
        padding : 25px;
        border-radius : 50px;
        gap : 5px;
        height : 380px;
        width : 450px;
        border : 1px solid black;

        input,button {
            all : unset;
            height : 40px;
        
        }

        input{
            border : 1px solid black;
            width : 100%;
            
            .placeholder{
                color : white;
            }
        }
        button{
            background-color: #18d5e8;
            border-radius: 25px;
            cursor:pointer;
            padding : 5px 25px;
            font-size : 25px;
            font-family : $mainfont;
        }

        h2,h3{
            margin : 0px;
        }
        .avatar-choose{
            display : flex;
            justify-content: center;
            flex-wrap: wrap;
            gap : 10px;

            img{
                height : 80px;
                width :80px;
                border-radius : 15px;
                border: 1px solid black;
            }
        }
    }
}