$mainfont : 'cormorant';

.container-ready-button{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 30px;

    h2{
        font-family: $mainfont;
        font-size : 22px;
        margin : 0px;
    }

    span{
        font-size : 20px;
        text-align: center;
    }

    .couleur-pseudo{
        color : #d9a840;
        font-size : 20px;
    }

    button{
        all : unset;
        cursor: pointer;

        background-color: #18d5e8;
        border-radius: 25px;
        padding : 5px 25px;
        font-size : 25px;
        font-family : $mainfont;
    }
}

    
