
body{
    padding : 0px;
    margin : 0px;
}
.container{
    display: flex;
    cursor :default;
    justify-content: center;             


    .container-waiting{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f9e3b2;
        padding : 25px;
        border-radius : 50px;
        margin : 100px 0px 20px 0px;
        gap : 5px;
        height : 200px;
        width : 400px;
        border : 1px solid black;
    }
}